{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 mt-4 text-center">Shopping Bag &#128722;</h2>
                <hr>
            </div>
        </div>
        <!-- Cart items -->
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Piece Info</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.piece.media %}
                                        <img class="w-100" src="{{ item.piece.media.url }}" alt="{{ item.piece.name }}">
                                        {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.piece.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.piece.name }}</strong></p>
                                        <p class="my-0 small text-muted">ID: {{ item.piece.id_number|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.piece.price }}</p>
                                    </td>
                                    <td class="py-3 quantity-checkout">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Delete or update buttons -->
                                        <a class="update-link update-icon"><small><i class="fas fa-check text-success"
                                                    title="Update Quantity"></i></small></a>
                                        <a class="remove-item" id="remove_{{ item.item_id }}"><small><i
                                                    class="fas fa-trash-alt text-secondary"
                                                    title="Delete from cart"></i></small></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- Total amount -->
                            <tr>
                                <td colspan="5" class="pt-5">
                                    <h5 class="checkout-total"><strong>TOTAL: ${{ grand_total|floatformat:2 }}</strong></h5>
                                </td>
                            </tr>
                            <!-- Buttons -->
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'pieces' %}" class="keep-btn rounded-0 btn">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span>KEEP SHOPPING</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="checkout-btn rounded-0 btn">
                                        <span>CHECKOUT</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- When cart is empty, this message shows with a button -->
                    {% else %}
                        <p class="lead mb-5">Your cart is empty.</p>
                        <a href="{% url 'pieces' %}" class="keep-btn rounded-0 btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>KEEP SHOPPING</span>
                        </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'pieces/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function (e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>

{% endblock %}