{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <h1 class="text-center faq-title">FAQ.</h1>
    </div>
</div>

<!-- CREDIT for text: https://www.morningbrew.com/daily/stories/2021/02/24/nft-frequently-asked-questions -->
<div class="row">
    <div class="col text-center faq-questions">
        <h4>What does <strong>nft.</strong> sell and what is an NFT? &#128559;</h4>
        <p>
            We sell digital art in the form of NFTs.
        </p>
        <p>
           Non-Fungible Tokens (NFT) are unique, easily verifiable digital assets that can represent items such as GIFs, images, videos, music albums, and more. Anything that exists online can be purchased as an NFT, theoretically. 
        </p>
        <hr>
        <h4>Why would I want to own an NFT? Can I make money on it? &#128200;</h4>
        <p>
            One reason to buy an NFT is for its emotional value, which isn’t so different from physical objects...unless you’re a total utilitarian. No one buys lip gloss because they need it. They buy it for the way it makes them feel. The same can be true for a GIF, image, video, or other digital asset.
        </p>   
        <p>
            The other reason is because you think it’s valuable...and will only increase in value. And yes, you can make money off of an NFT by buying and reselling it for more. Just like on the classic art market.
        </p>
        <hr>
        <h4>How do you know your NFT is authentic? &#128271;</h4>
        <p>
            NFT ownership is recorded on the blockchain, and that entry acts as a digital pink slip. Defining the blockchain is a whole ‘nother can of worms that you can read about <a href="https://www.investopedia.com/terms/b/blockchain.asp?utm_source=morning_brew" target="_blank">here</a>. 
        </p>
        <p>
            Where is the blockchain? It’s decentralized, so it exists across many people’s computers in encrypted bits and pieces.
        </p>
    </div>
</div>
</div>
{% endblock %}