{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <h1 class="text-center faq-title">FAQ.</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center faq-questions">
        <h4>What is an NFT?</h4>
        <p>
           Non-Fungible Tokens are unique, easily verifiable digital assets that can represent items such as GIFs, images, videos, music albums, and more. Anything that exists online can be purchased as an NFT, theoretically. 

           Our website on the other hand, only focus on digital art in the "shape" of an NFT.
        </p>
        <hr>
        <h4>How does it work?</h4>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <hr>
        <h4>How does it work?</h4>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
</div>
</div>
{% endblock %}