{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'pieces' %}">PIECES PLACEHOLDER</a>
                <video width="960" height="720" autoplay muted loop>
                    <!-- CREDIT for video: https://www.pexels.com/sv-se/foto/abstrakt-boll-rund-sfar-6759604 -->
                    <source src="media/pexels-rostislav-uzunov-6759604.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}