{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col video-wrapper" align="center">
                <div class="video-overlay">
                    <a href="{% url 'pieces' %}">
                        <button type="button" class="hvr-fade btn-explore">
                            <strong>EXPLORE</strong>
                        </button>
                    </a>
                </div>
                <!-- CREDIT for video in HTML: https://www.w3schools.com/html/html5_video.asp -->
                <video autoplay muted loop class="video-responsive">
                    <!-- CREDIT for video: https://www.pexels.com/sv-se/foto/abstrakt-boll-rund-sfar-6759604 -->
                    <source src="https://rudberga-nft.s3.eu-north-1.amazonaws.com/media/pexels-rostislav-uzunov-6759604.mp4"
                        type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}