{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mb-4 mt-4">
                <h2 class="logo-font mb-4 text-center">MY ACCOUNT &#128100;</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <table class="table table-sm table-borderless">
                    <h4><i class="fas fa-heart heart-icon mb-4"></i> FAVOURITES LIST:</h4>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for fav in fav_list %}
                                <tr>
                                    <td><a href="{% url 'piece_detail' fav.piece.id %}">{{ fav.piece.name }}</a></td>
                                    <td>${{ fav.piece.price }}</td>
                                    <td>
                                        <form method="POST" action="{% url 'add_fav' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="piece_name" value="{{ fav.piece.id }}">
                                            <input type="submit" class="btn fav-del-btn" value="&times;">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="col-12 col-lg-6">
                <h4>&#128198; ORDER HISTORY:</h4>
                <div class="order-history table-responsive mt-4">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.piece.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-12 col-lg-6 account-info">
                <h4 class="mt-4">&#128394; ACCOUNT INFORMATION</h4>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn rounded-0 profile-update-btn">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
