@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

body {
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
}

/*--------------------------------- Navbar */

.title-nft {
    font-size: 5em;
}

.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #fff;
    border-bottom: 1px solid #707070;
}

.navbar-main {
    background-color: #fff
}

.navbar-toggler {
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler i {
    font-size: 1.25em;
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .5rem 7px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.vl {
    border-left: 1px solid #fff;
    height: 100%
}

.nav-cart {
    color: #707070;
}

.nav-link {
    color: #707070;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.search {
    border-bottom: 1px solid #707070b0;
    border-radius: 0;
}

.fa-search {
    color: #707070;
}

/*--------------------------------- Home */

.btn-explore {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 4em;
    text-decoration: underline;
}

/*CREDIT for responsive button over video: https://stackoverflow.com/questions/35647044/boostrap-how-to-stick-a-button-over-an-image-when-re-sizing/35676474 */

.video-wrapper {
    position: relative;
}

.video-responsive {
    margin-top: 20px;
    width: 85%;
    height: auto;
}

.video-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.video-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 30%;
}

#for_sign {
    cursor: pointer;
}

/*--------------------------------- Pieces page */

.card {
    margin: 15px;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 25vw;
}

.category-list ul {
    list-style-type: none;
    margin-top: 40px;
    margin-left: -30px;
}

.category-list ul li a {
    color: #000;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-chevron-up {
    color: #707070;
    font-size: 2em;
    cursor: pointer;
}

.btt-link {
    text-decoration: none;
    border: none;
}

/*--------------------------------- Piece details page */

.piece-detail-img {
    margin: 30px;
    padding: 0;
}

.piece-detail-text {
    margin-top: 50px;
    padding: 0;
}

.piece-detail-text .btn {
    margin-top: 50px;
}

.heart-icon {
    background-color: transparent;
    border: none;
    color: rgb(255, 90, 90);
    font-size: 1.25em;
}

.broken-heart-icon {
    background-color: transparent;
    border: none;
    color: rgb(255, 90, 90);
    font-size: 1.25em;
}

.comment-field {
    margin-top: 40px;
}

.comment-field h3 {
    margin-bottom: 30px;
}

.post-btn {
    border: 2px solid #000;
}

.buy-btn {
    width: 75%;
    border: 2px solid #000;
}

.back-btn {
    width: 75%;
    border: 2px solid #000;
} 

/*--------------------------------- About */

.about-title {
    margin-top: 20px;
}

.about-text p {
    margin-top: 25px;
}

/*--------------------------------- FAQ */

.faq-title {
    margin-top: 20px;
}

.faq-questions {
    margin-top: 35px;
    max-width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.faq-questions p {
    margin-top: 25px;
}

.faq-questions hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*--------------------------------- Checkout page */

.checkout-btn {
    float: right;
    border: 2px solid #000;
    font-size: 1em;
}

.checkout-total {
    float: right;
}

.quantity-checkout {
    width: 27%;
}

/*--------------------------------- Modal */

.modal-login {
    margin: 30px;
}

/*--------------------------------- Shopping Cart */

.update-link,
.remove-item {
    cursor: pointer;
}

.keep-btn {
    border: 2px solid #000;
}

.update-icon {
    float: right;
}

/*--------------------------------- Footer */

.footer-top {
    padding-bottom: 0px;
    margin-top: 60px;
    border-top: 1px solid #dee2e6;
}

#button-addon1 {
    color: rgba(161, 161, 161, 0.911);
}

.social-icons {
    color: rgba(161, 161, 161, 0.911);
    font-size: 1.5em;
}

.newsletter-input {
    max-width: 50%;
    margin-bottom: 25px;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.footer-links {
    color: #707070;
    text-decoration: none;
}

/*--------------------------------- Hover effects */
/*CREDIT for Hover over social links: https://ianlunn.github.io/Hover/#effects*/

.hvr-fade {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, #000;
    transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.774);
}

.hvr-fade-categories li {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: color, rgb(255, 255, 255);
    transition-property: color, background-color;
    max-width: 50%;
}

.hvr-fade-categories li:hover,
.hvr-fade-categories li:focus,
.hvr-fade-categories li:active {
    background-color: rgb(173, 173, 173);
    color: rgb(255, 255, 255);
    max-width: 50%;
}

.back-btn:hover,
.buy-btn:hover,
.post-btn:hover,
.checkout-btn:hover,
.keep-btn:hover {
    background: #000;
    color: #fff;
}

/*--------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-header button {
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.toast-header button i {
    font-size: 1.5em;
}

/*--------------------------------- Media queries */

@media only screen and (max-width: 600px) {
    .newsletter-input {
        max-width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .btn-explore {
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .btn-explore {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        height: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    .card-img-top {
        height: 75vw;
    }
}

@media only screen and (max-width: 600px) {
    .piece-detail-img {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: -30px;
    }
}

@media only screen and (max-width: 600px) {
    .piece-detail-text {
        margin-top: 0px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .quantity-checkout {
        width: 40%;
    }
}