body {
    background-color: #fff;
}

/*--------------------------------- Navbar */

.title-nft {
    font-size: 4em;
}

.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #fff;
}

.navbar-main {
    background-color: #fff
}

.navbar-toggler {
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler i {
    font-size: 1.25em;
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .5rem 7px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.vl {
    border-left: 1px solid #fff;
    height: 100%
}

/*--------------------------------- Footer */

#button-addon1 {
  color: #ffc371;
}

.social-icons {
    color: rgba(161, 161, 161, 0.911);
    font-size: 1.5em;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}