{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">PIECE MANAGEMENT</h2>
                <h5 class="text-muted">Add a Piece</h5>
                <hr>
            </div>
        </div>
        <!-- Form for adding piece -->
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_piece' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right mt-4">
                        <a class="btn keep-btn rounded-0" href="{% url 'pieces' %}">CANCEL</a>
                        <button class="btn checkout-btn rounded-0" type="submit">ADD PIECE</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}