{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">DETAILS.</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5 col-sm-10 piece-detail-img">
    {% if piece.media %}
        <a href="{{ piece.media.url }}" target="_blank">
            <img class="card-img-top img-fluid h-75" src="{{ piece.media.url }}" alt="{{ piece.name }}">
        </a>
    {% else %}
        <a href="">
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ piece.name }}">
        </a>
    {% endif %}
        </div>
        <div class="col-md-5 offset-1 col-sm-10 piece-detail-text">
            <h5><strong>{{ piece.name }}</strong></h5>
                <p><i>by</i> {{ piece.artist }}</p>
                <hr class="w-75">
                <p>Released: {{ piece.year }}</p>
                <p>${{ piece.price }} (Ξ{{ piece.eth_price }})</p>
                <form class="form" action="{% url 'add_to_cart' piece.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ piece.id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'pieces' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                <!--   
                <a href="#" class="btn btn-primary w-100">BUY</a>
                <a href="{% url 'pieces' %}" class="btn btn-warning w-100">RETURN TO MARKETPLACE</a>
                -->
        </div>
    </div>

{% endblock %}