{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">MARKETPLACE.</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    {% for piece in pieces %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card border-0">
        {% if piece.media %}
            <a href="{% url 'piece_detail' piece.id %}">
                <img class="card-img-top img-fluid" src="{{ piece.media.url }}" alt="{{ piece.name }}">
            </a>
        {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ piece.name }}">
            </a>
        {% endif %}
            <div class="card-body">
                <h5 class="card-title"><strong>{{ piece.name }}</strong></h5>
                <p class="card-text"><strong>{{ piece.artist }}</strong></p>
                <p class="card-text">Released: {{ piece.year }}</p>
                <p class="card-text">${{ piece.price }} (Ξ{{ piece.eth_price }})</p>
                <a href="#" class="btn btn-primary float-right">BUY</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}