<div class="toast custom-toast rounded" data-autohide="false">
    <div class="w-100 toast-capper rounded-top bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto"><h4>You did it! &#9996;</h4></strong>
        <button type="button" class="" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
    </div>
    <div class="toast-body bg-white rounded-bottom">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1">Your Cart ({{ piece_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            {% if item.piece.media %}
                                <img class="w-100" src="{{ item.piece.media.url }}" alt="{{ item.piece.name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.piece.name }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.piece.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black">
                        Total: 
                        <span class="float-right">${{ total|floatformat:2 }}</span>
                    </p></strong>
                    <a href="{% url 'view_cart' %}" class="btn rounded-0 btn-checkout">
                        <span class="text-uppercase">CHECKOUT</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
        